.Clockdown {
    text-align: center;
    font-size: 35px;
    margin-top: 20%;

     
}

.App-title {
    font-size: 50px; 
}

.Clock-days {
    display: inline;
}

.Clock-hours {
    display: inline;
}

.Clock-minutes {
    display: inline;
}

.Clock-second {
    display: inline; 
}